.signup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.signup__input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 50px;
}

.signup > Button {
  margin-right: 0;
  margin-top: 20px;
}

.signup__error:empty {
  display: none;
}

.signup__error {
  margin-top: 10px;
}
