.movie-seats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seats {
  width: 900px;
  height: 600px;
  background-color: #ccc;
  display: grid;
  grid: repeat(9, 60px) / auto-flow 60px;
  align-items: flex-end;
  justify-content: center;
}

.seat {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: none;
  display: block;
}

.ticket {
  margin-top: 30px;
  width: 300px;
  height: 140px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px #aaa;

  button {
    width: 110px;
    height: 60px;
    border: none;
    margin: 5px;
    display: inline;
    cursor: pointer;
  }

  .normal {
    color: white;
    background-color: rgb(182, 25, 25);
  }

  .discount {
    background-color: white;
    border: 2px solid rgb(182, 25, 25);
  }
}
