$textColor: #ffff;
$ratingsColor: #be005e;
$greyText: rgba(255, 255, 255, 0.5);

* {
  box-sizing: border-box;
}

.movie-wrapper {
  display: flex;
  background-color: black;
<<<<<<< HEAD
  padding-top: 50px;
=======
  padding-top: 20px;
  width: 1100px;
>>>>>>> 161400bbc801053cf76a41aaa9b96404d7f12777
}

.movie__poster {
  img {
    width: 200px;
    height: auto;
    padding: 20px;
  }
}

.movie-details {
  width: 700px;
  letter-spacing: 0.1em;
  text-align: left;
  padding: 0 30px;

  > h1 {
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    color: $textColor;
  }

  h4 {
    font-weight: 300;
    font-size: 18px;
    color: $greyText;
  }

  > p {
    font-weight: 400;
    font-size: 16px;
    color: $textColor;
    padding-top: 20px;
    line-height: 1.6;
  }
}

.movie-report {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  padding: 0 25px;
  padding-top: 15px;

  .movie-report__rating {
    color: $ratingsColor;
    font-weight: 300;
    font-size: 32px;
    padding: -1rem;
    margin-bottom: -1rem;
  }

  > h4 {
    font-weight: 400;
    font-size: 16px;
    color: $greyText;
    margin-bottom: 50px;
  }

  .movie-report__votes {
    font-weight: 300;
    font-size: 25px;
    color: $textColor;
    padding: -1rem;
    margin-bottom: -1rem;
  }
}
