$textColor: #ffff;
$ratingsColor: #be005e;
$greyText: rgba(255, 255, 255, 0.5);

.movie-wrapper {
  display: flex;
  background-color: black;
  padding-top: 20px;
  margin-left: 50px;
}

.movie__poster {
  img {
    width: 175px;
    height: auto;
    padding: 20px;
  }
}

.movie-details {
  width: 50%;
  letter-spacing: 0.1em;
  text-align: left;
  margin-left: 30px;

  > h1 {
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    color: $textColor;
  }

  h4 {
    font-weight: 300;
    font-size: 18px;
    color: $greyText;
  }

  > p {
    font-weight: 400;
    font-size: 16px;
    color: $textColor;
    margin-top: 50px;
    line-height: 1.6;
  }
}

.movie-report {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  padding-top: 15px;
  margin-left: 85px;

  .movie-report__rating {
    color: $ratingsColor;
    font-weight: 300;
    font-size: 32px;
    padding: -1rem;
    margin-bottom: -1rem;
  }

  > h4 {
    font-weight: 400;
    font-size: 16px;
    color: $greyText;
    margin-bottom: 50px;
  }

  .movie-report__votes {
    font-weight: 300;
    font-size: 25px;
    color: $textColor;
    padding: -1rem;
    margin-bottom: -1rem;
  }
}
