$color-primary: rgb(129, 37, 182);
$color-primary--hover: rgb(169, 64, 230);
$color-secondary: rgb(245, 245, 245);
$color-focus: rgb(0, 255, 255);
$color-navbar-start: rgb(8, 8, 8);
$color-navbar-end: rgb(77, 77, 77);
$font-size-smal: 1.5rem;
$font-size-medium: 2rem;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontPrimary {
  color: $color-secondary;
  font-size: $font-size-smal;
}

@mixin backgroundGradient {
  background: linear-gradient(
    90deg,
    $color-navbar-start,
    $color-navbar-end 100%
  );
}

.nav-bar {
  @include backgroundGradient();
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__logo {
  color: $color-secondary;
  justify-self: start;
  margin: 20px;
  cursor: default;
  transition: all 1s ease-in-out;
}

.nav-bar__auth {
  @include flexCenter();
}
/* Should be ok */
.nav-bar__menu {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-bar__href {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: end;
  margin-right: 2rem;
}

.nav-bar__links {
  color: $color-secondary;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: 10px;
}

.nav-bar__links:hover {
  background-color: $color-primary;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}

.nav-bar__menu--icon {
  display: none;
}

.nav-bar__menu--icons {
  @include fontPrimary();
  margin-left: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    position: relative;
  }

  .nav-bar__menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    @include backgroundGradient();
    opacity: 0;
    transition: all 1s ease;
  }

  .nav-bar__menu.active {
    @include backgroundGradient();
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    left: 0;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
  }

  .nav-bar__href {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .nav-bar__links {
    @include fontPrimary();
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: block;
  }

  .nav-bar__links:hover {
    background-color: $color-navbar-end;
    border-radius: 0;
    color: $color-secondary;
    transform: scale(1.1);
    transition: all 1s ease;
  }

  .nav-bar__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.4) translate(20%, 20%);
    transition: all 1s ease-in-out;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.nav-bar__links {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .nav-bar__menu--icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: $font-size-medium;
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
  }

  .nav-bar__auth > Button {
    margin: 1rem auto;
    width: 40%;
    display: block;
  }

  .nav-bar__auth {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 20px;
  }
  .signout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .signout__user {
    border-radius: 4px;
    border: 1px solid $color-primary;
  }
}
